In [25]:
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import pickle

In [16]:
df = pd.read_csv('../data/dataset_heart_failure.csv')
df.tail(200)

,age,anaemia,diabetes,ejection_fraction,high_blood_pressure,serum_creatinine,sex,smoking,target
27550,60,1,0,20,0,0.7,1,1,1
27551,70,0,0,60,1,0.8,0,1,0
27552,42,0,1,40,0,1.2,1,0,0
27553,75,1,1,38,1,0.6,1,1,0
27554,55,0,0,45,1,0.9,0,0,0
...,...,...,...,...,...,...,...,...,...
27745,44,0,1,30,1,1.6,1,1,0
27746,51,0,1,40,0,0.9,0,0,0
27747,67,0,0,38,0,1.2,0,0,0
27748,42,0,0,40,0,0.7,1,0,0
27749,60,1,1,30,0,1.0,1,1,0

In [17]:
X = df.drop(['target'], axis=1)
X

,age,anaemia,diabetes,ejection_fraction,high_blood_pressure,serum_creatinine,sex,smoking
0,66,0,1,18,0,1.0,0,0
1,40,1,0,32,1,3.0,1,0
2,74,0,1,27,0,2.0,0,0
3,52,1,0,1,1,1.0,1,0
4,62,0,0,44,1,0.0,1,1
...,...,...,...,...,...,...,...,...
27745,44,0,1,30,1,1.6,1,1
27746,51,0,1,40,0,0.9,0,0
27747,67,0,0,38,0,1.2,0,0
27748,42,0,0,40,0,0.7,1,0
27749,60,1,1,30,0,1.0,1,1

In [18]:
y = df['target'].to_frame()
y

       target
0           0
1           0
2           1
3           0
4           0
...       ...
27745       0
27746       0
27747       0
27748       0
27749       0

[27750 rows x 1 columns]

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y,random_state=1)

In [20]:
model = MLPClassifier(hidden_layer_sizes=(10,2), activation='relu', random_state=10)

In [21]:
model.fit(X_train,y_train)

/home/stefy/anaconda3/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1096: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPClassifier(hidden_layer_sizes=(10, 2), random_state=10)

In [22]:
# score model
accuracy = model.score(X_test, y_test)
print("Accuracy:", accuracy)

Accuracy: 0.5606803113289133

In [24]:
#df_test = pd.read_csv('../data/test_target_heart_failure.csv')
#df_test

In [10]:
#df_test = pd.read_csv('../data/test_heart_failure.csv')
#df_test.head(10)

In [11]:
#y_in = np.asarray([80,1,1,20,0,9.0,1,1]).reshape(1,-1)

In [12]:
#predicts = model.predict(y_in)
#predicts[0]

/home/stefy/anaconda3/lib/python3.8/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but GradientBoostingClassifier was fitted with feature names
  warnings.warn(

In [26]:
# pickle model
with open('model.pkl', 'wb') as file:
    pickle.dump(model, file)